@import "../../../../core/config/theme.scss";



#firststepswizard-button {
	position:fixed;
	left:10px;
	top:10px;
	z-index:1000;
	background-color:#F00;
	color:$white;
	padding:10px;
	font-weight:bold;
	cursor:pointer;
	border:1px solid $black;
	-moz-box-shadow:2px 2px 5px $colorNeutral06;
}